.postsBlock{
	padding: 10px;
}

.posts{
	margin-top: 10px;
}

.button{
	background-color: gold;
	border-width: 3px;
	border-width: 0;
	width: 120px;
	padding: 10px;
	border-radius: 5px;
	color: black;
}

.heading{
	color: white;
}


